body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.cards {
  margin: 0 auto;
  width: 600px;
}

.pano225-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #000;
  background-color: #fff;
  padding: .2rem;
  border-radius: .4rem;
}

.pano225-link:hover {
  scale: 1.1;
}

.article-link:hover {
  color: #fff;
  background-color: #e91e63;
}

.zone-link:hover {
  color: #fff;
  background-color: #9c27b0;
}

.musique-link:hover {
  color: #fff;
  background-color: #673ab7;
}

.articleContainer {
  width: 100%;
  height: 500px;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.articleContainer .cardContainer {
  height: inherit;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card {
  position: relative;
  border: thin solid #040A02;
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articleContainer .cardContainer .card .bottom-info {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  height: 3rem;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-left {
  height: 1rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-left a {
  height: 1rem;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-right {
  height: 1rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-right a {
  height: 1rem;
}

.articleContainer .cardContainer .card .image {
  z-index: 2;
  position: absolute;
  top: 3rem;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.articleContainer .cardContainer .card .pad_image {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  z-index: 3;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.articleContainer .cardContainer .card .pad_image a {
  font-size: 2rem;
  text-decoration: none;
  color: #040A02;
}

.articleContainer .cardContainer .card .pad_image svg {
  width: 2rem;
}

.articleContainer .cardContainer .card .pad_image p {
  text-align: justify;
}

.articleContainer .cardContainer .card .top-info {
  z-index: 3;
  background-color: #fff;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  padding: 0 2rem 0 1rem;
}

.articleContainer .cardContainer .card:hover {
  -webkit-transform: scale(1.08, 1.08) rotate(-1deg);
          transform: scale(1.08, 1.08) rotate(-1deg);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articleContainer .cardContainer .card:hover .top-info-hover-left {
  opacity: 1;
}

.articleContainer .cardContainer .card:hover .image {
  z-index: -1;
  top: 0;
  opacity: 0.3;
}

.articleContainer .cardContainer .card:hover .pad_image {
  z-index: 3;
  background-color: color-pseudo-white;
}

.articleContainer .cardContainer .card:hover .top-info {
  z-index: 3;
  border-top: 0;
  background-color: transparent;
}

.articleContainer .timeline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.articleContainer .timeline:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  content: "";
  width: 3px;
  background: blue;
}

.nouvellePeriod {
  position: relative;
  padding: 0;
}

.nouvellePeriod .periodeMarker {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.nouvellePeriod .periodeMarker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.nouvellePeriod .periodeMarker:after {
  content: "";
  height: 2px;
  top: auto;
  width: 3px;
  background: blue;
  display: block;
  position: absolute;
  bottom: 0;
  left: 6px;
}

.nouvellePeriod .periodeContent {
  padding: 20px 0 20px;
  width: 100%;
  color: red;
  font-style: italic;
  font-size: 2rem;
  font-weight: bolder;
}

.phonesvg {
  width: 1rem;
}

.whatsappsvg {
  width: 1rem;
}

.instagramsvg {
  width: 1rem;
}

.twittersvg {
  width: 1rem;
}

.facebooksvg {
  width: 1rem;
}
/*# sourceMappingURL=style.css.map */