.articleContainer {
  width: 100%;
  height: 500px;
  position: relative;
}

.articleContainer .cardContainer {
  height: inherit;
  max-width: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.articleContainer .cardContainer .card {
  position: relative;
  border: thin solid black;
  z-index: 2;
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articleContainer .cardContainer .card .top-info-hover-left {
  position: absolute;
  top: 0;
  padding: 16px;
  width: inherit;
  opacity: 0;
}

.articleContainer .cardContainer .card .top-info-hover-left .top-info-hover-right {
  float: right;
}

.articleContainer .cardContainer .card .image {
  position: absolute;
  top: 0;
  height: 60%;
  width: 100%;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.articleContainer .cardContainer .card .pad_image {
  height: 60%;
  width: 100%;
  background-color: white;
}

.articleContainer .cardContainer .card .bottom-info {
  border-top: thin solid black;
  background-color: white;
  height: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card:hover {
  -webkit-transform: scale(1.08, 1.08) rotate(-1deg);
          transform: scale(1.08, 1.08) rotate(-1deg);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articleContainer .cardContainer .card:hover .top-info-hover-left {
  opacity: 1;
}

.articleContainer .cardContainer .card:hover .image {
  height: 100%;
  opacity: 0.3;
}

.articleContainer .cardContainer .card:hover .bottom-info {
  border-top: 0;
}

.articleContainer .timeline {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.articleContainer .timeline:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  content: "";
  width: 3px;
  background: blue;
}

.nouvellePeriod {
  position: relative;
  padding: 0;
}

.nouvellePeriod .periodeMarker {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15px;
}

.nouvellePeriod .periodeMarker:before {
  background: transparent;
  content: "";
  width: 15px;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-top: 3px solid blue;
  border-bottom: 3px solid blue;
}

.nouvellePeriod .periodeMarker:after {
  content: "";
  height: 2px;
  top: auto;
  width: 3px;
  background: blue;
  display: block;
  position: absolute;
  bottom: 0;
  left: 6px;
}

.nouvellePeriod .periodeContent {
  padding: 20px 0 20px;
  width: 100%;
  color: red;
  font-style: italic;
  font-size: 2rem;
  font-weight: bolder;
}
/*# sourceMappingURL=style.css.map */