body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.menu {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: center;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -webkit-column-gap: 2rem;
          column-gap: 2rem;
}

.menu .item {
  text-align: center;
  width: 80%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-size: .5rem;
  border-radius: 2rem;
  background-color: #ddd;
}

.menu .button0 {
  letter-spacing: 0.05em;
}

.menu .button0:hover {
  scale: 1.2;
}

.menu .button0.actif {
  scale: 1.2;
  color: #fff;
  background-color: #f44336;
}

.menu .select-artiste:hover {
  scale: 1.2;
}

.menu .select-artiste.actif {
  scale: 1.2;
  color: #fff;
  background-color: #e91e63;
}

.menu .select-zone.actif {
  scale: 1.2;
  color: #fff;
  background-color: #9c27b0;
}

.menu .select-zone:hover {
  scale: 1.2;
}

.menu .select-musique.actif {
  scale: 1.2;
  color: #fff;
  background-color: #673ab7;
}

.menu .select-musique:hover {
  scale: 1.2;
}

select {
  border: none;
}

.cards {
  margin: 0 0 0 2rem;
  width: 100%;
}

.pano225-link {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #040A02;
  background-color: #ddc;
  padding: .2rem;
  border-radius: .4rem;
}

.pano225-link:hover {
  scale: 1.1;
}

.article-link {
  background-color: transparent;
}

.article-link:hover {
  color: #FFFEEF;
  background-color: #e91e63;
}

.zone-link:hover {
  color: #FFFEEF;
  background-color: #9c27b0;
}

.musique-link:hover {
  color: #FFFEEF;
  background-color: #673ab7;
}

.articleContainer {
  width: 100%;
  height: 30vh;
  min-height: 50vw;
  position: relative;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.articleContainer .cardContainer {
  height: 100%;
  max-width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card {
  z-index: 3;
  position: relative;
  border: thin solid #040A02;
  width: 90%;
  height: 90%;
  overflow: hidden;
  border-radius: 12px;
  -webkit-transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
  background-color: #FFFEEF;
}

.articleContainer .cardContainer .card .top-info {
  z-index: 5;
  font-weight: 500;
  -webkit-margin-before: 0;
          margin-block-start: 0;
  -webkit-margin-after: 0;
          margin-block-end: 0;
  font-size: 1.1rem;
  background-color: #FFFEEF;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  padding: 0 1rem 0 1rem;
}

.articleContainer .cardContainer .card .bottom-info {
  z-index: 5;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  left: 1rem;
  height: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-left {
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-left a {
  height: 1.2rem;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-right {
  height: 1rem;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.articleContainer .cardContainer .card .bottom-info .bottom-info-hover-right a {
  height: 1.2rem;
}

.articleContainer .cardContainer .card .image {
  z-index: 4;
  position: absolute;
  top: 3rem;
  height: 100%;
  width: 100%;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.articleContainer .cardContainer .card .pad_image {
  z-index: 3;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 1rem 1rem 1rem 1rem;
  -webkit-transition: 0.2s all ease-out;
  transition: 0.2s all ease-out;
}

.articleContainer .cardContainer .card .pad_image p {
  text-align: justify;
}

.articleContainer .cardContainer .card .pad_image a {
  font-size: 2rem;
  text-decoration: none;
  color: #040A02;
}

.articleContainer .cardContainer .card .pad_image svg {
  width: 2rem;
}

.articleContainer .cardContainer .card:hover {
  -webkit-transform: scale(1.08, 1.08) rotate(-1deg);
          transform: scale(1.08, 1.08) rotate(-1deg);
  -webkit-box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
}

.articleContainer .cardContainer .card:hover .image {
  z-index: 2;
  top: 0;
  opacity: 0.3;
}

.articleContainer .cardContainer .card:hover .pad_image {
  z-index: 5;
  opacity: 1;
  background-color: transparent;
}

.articleContainer .cardContainer .card:hover .pad_image p {
  z-index: 5;
}

.articleContainer .cardContainer .card:hover .pad_image div {
  z-index: 5;
}

.articleContainer .cardContainer .card:hover .pad_image a {
  z-index: 5;
}

.articleContainer .cardContainer .card:hover .pad_image svg {
  z-index: 5;
}

.articleContainer .cardContainer .card:hover .article-link {
  z-index: 5;
  text-transform: uppercase;
  background-color: #ddc;
}

.articleContainer .cardContainer .card:hover .article-link:hover {
  background-color: #e91e63;
}

.articleContainer .cardContainer .card:hover .zone-link {
  text-transform: uppercase;
}

.articleContainer .cardContainer .card:hover .musique-link {
  text-transform: uppercase;
}

.articleContainer .timeline {
  z-index: 2;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1rem;
}

.articleContainer .timeline:after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 6px;
  content: "";
  width: 3px;
  background: #673ab7;
}

.nouvellePeriod {
  position: relative;
  padding: 0;
  z-index: 2;
}

.nouvellePeriod .periodeMarker {
  background-color: transparent;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 1rem;
}

.nouvellePeriod .periodeMarker:before {
  background: transparent;
  content: "";
  width: 1rem;
  height: auto;
  border: none;
  border-radius: 0;
  top: 0;
  bottom: 0;
  position: absolute;
  border-top: 3px solid #673ab7;
  border-bottom: 3px solid #673ab7;
}

.nouvellePeriod .periodeMarker:after {
  content: "";
  height: 2px;
  top: auto;
  width: 3px;
  background: #673ab7;
  display: block;
  position: absolute;
  bottom: 0;
  left: 6px;
}

.nouvellePeriod .periodeContent {
  z-index: 2;
  padding: 2rem 0 2rem;
  width: 100%;
  color: #9c27b0;
  font-style: italic;
  font-size: 2rem;
  font-weight: bolder;
}

.phonesvg {
  width: 1rem;
}

.whatsappsvg {
  width: 1rem;
}

.instagramsvg {
  width: 1rem;
}

.twittersvg {
  width: 1rem;
}

.facebooksvg {
  width: 1rem;
}

@media only screen and (min-width: 768px) {
  .menu {
    max-width: 768px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu .item {
    margin: 0;
    padding: 1rem;
  }
  .cards {
    margin: 0 auto;
    width: 768px;
  }
  .cards .articleContainer {
    width: 768px;
    max-height: 768px;
    height: 768px;
    min-height: 0;
  }
  .cards .articleContainer .cardContainer {
    width: 768px;
    max-height: 768px;
  }
}
/*# sourceMappingURL=style.css.map */