.articleContainer {
  width: 100%;
  height: 500px;
  position: relative;

  .cardContainer {
    height: inherit;
    max-width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    .card {
      position: relative;
      border: thin solid $color-pseudo-black;
      z-index: 2;
      width: 90%;
      height: 90%;
      overflow: hidden;
      border-radius: 12px;
      transition: all 0.4s cubic-bezier(0.175, 0.885, 0, 1);
      box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);

      .top-info-hover-left {
        position: absolute;
        top: 0;
        padding: 16px;
        width: inherit;
        opacity: 0;
        .top-info-hover-right {
          float: right;
        }
      }

      .image {
        position: absolute;
        top: 0;
        height: 60%;
        width: 100%;
        transition: 0.2s all ease-out;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
      }

      .pad_image {
        height: 60%;
        width: 100%;
        background-color: $color-pseudo-white;
      }

      .bottom-info {
        border-top: thin solid bla$color-pseudo-blackck;
        background-color: $color-pseudo-white;
        height: 40%;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &:hover {
        transform: scale(1.08, 1.08) rotate(-1deg);
        box-shadow: 0px 13px 10px -7px rgba(0, 0, 0, 0.1);
        .top-info-hover-left {
          opacity: 1;
        }
        .image {
          height: 100%;
          opacity: 0.3;
        }
        .bottom-info {
          border-top: 0;
        }
      }
    }
  }

  .timeline {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;

    &:after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 6px;
      content: "";
      width: 3px;
      background: $color-timeline;
    }
  }
}

.nouvellePeriod {
  position: relative;
  padding: 0;
  .periodeMarker {
    background-color: transparent;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 15px;
    &:before {
      background: transparent;
      content: "";
      width: 15px;
      height: auto;
      border: none;
      border-radius: 0;
      top: 0;
      bottom: 0;
      position: absolute;
      border-top: 3px solid $color-timeline;
      border-bottom: 3px solid $color-timeline;
    }
    &:after {
      content: "";
      height: 2px;
      top: auto;
      width: 3px;
      background: $color-timeline;
      display: block;
      position: absolute;
      bottom: 0;
      left: 6px;
    }
  }
  .periodeContent {
    padding: 20px 0 20px;
    width: 100%;
    color: $color-date;
    font-style: italic;
    font-size: 2rem;
    font-weight: bolder;
  }
}
