@media only screen and (min-width: 768px) {
  .menu {
    max-width: 768px;
    display: flex;
    justify-content:space-between;
    align-items:center;
    .item {
      margin: 0;
      padding: 1rem;
    }
  }
  .cards {
    margin: 0 auto;
    width: 768px;
    .articleContainer {
      width: 768px;
      max-height: 768px;
      height: 768px;
      min-height: 0;
      .cardContainer {
        width: 768px;
        max-height: 768px;
      }
    }
  }
}
