.menu {
  padding: 0;
  position: sticky;
  top: 0;
  z-index: 99;
  padding: 1rem 2rem;
  width: 100%;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  backdrop-filter: blur(3px);
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr;
  column-gap: 2rem;
}

.menu .item {
  text-align: center;
  width: 80%;
  margin: 0.5rem 0;
  padding: 0.5rem 1rem;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
  color: #111;
  text-transform: uppercase;
  font-size: .5rem;
  border-radius: 2rem;
  background-color: #ddd;
}

.menu .button0 {
  letter-spacing: 0.05em;
}

.menu .button0:hover {
  scale: 1.2;
}

.menu .button0.actif {
  scale: 1.2;
  color: #fff;
  background-color: #f44336;
}

.menu .select-artiste:hover {
  scale: 1.2;
}

.menu .select-artiste.actif {
  scale: 1.2;
  color: #fff;
  background-color: #e91e63;
}

.menu .select-zone.actif {
  scale: 1.2;
  color: #fff;
  background-color: #9c27b0;
}

.menu .select-zone:hover {
  scale: 1.2;
}

.menu .select-musique.actif {
  scale: 1.2;
  color: #fff;
  background-color: #673ab7;
}

.menu .select-musique:hover {
  scale: 1.2;
}

select {
  border: none;
}
