.menu {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 99;
  padding: 1rem;
  max-width: 800px;
  margin: 0 auto;
  border-bottom: 1px solid #eee;
  backdrop-filter: blur(3px);
}

@media (max-width: 650px) {
  .menu {
    flex-direction: column;
    width: 100%;
  }
}

.menu .item {
  padding: 1rem 2rem;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  text-decoration: none;
  color: #111;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-size: 1rem;
  margin: 0.5rem 0;
  border-radius: 2rem;
  background-color: #ddd;
}

.menu .button0:hover {
  scale: 1.2;
}

.menu .button0.active {
  scale: 1.2;
  color: #fff;
  background-color: #f44336;
}

.menu .select-artiste:hover {
  scale: 1.2;
}

.menu .select-artiste.active {
  scale: 1.2;
  color: #fff;
  background-color: #e91e63;
}

.menu .select-zone.active {
  scale: 1.2;
  color: #fff;
  background-color: #9c27b0;
}

.menu .select-zone:hover {
  scale: 1.2;
}

.menu .select-musique.active {
  scale: 1.2;
  color: #fff;
  background-color: #673ab7;
}

.menu .select-musique:hover {
  scale: 1.2;
}

select {
  border: none;
}
