@media only screen and (min-width: 768px) {
  .menu {
    max-width: 800px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .cards {
      margin: 0 auto;
      width: 30vh;
      .articleContainer {
        height: 30vh;
        .cardContainer {
          max-width: 30vh;
        }
      }
  }
}
