$color-vert-fonce: #60C230; // pseudo black
$color-violet-clair: #D2D1FF;
$color-vert-clair: #B8FFA5;
$color-orange: #FF9B66; // pseudo white
$color-marron: #C2A291;

$color-pseudo-white: #FFFEEF;
$color-pseudo-black: #040A02;
$color-pseudo-gray: #ddc;

$base-color: #ecd1df;
$color-timeline: blue;
$color-date: red;

$backgroundcolor-pano225-button: #f44336;
$backgroundcolor-artiste-button: #e91e63;
$backgroundcolor-zone-button: #9c27b0;
$backgroundcolor-musique-button: #673ab7;